body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #F8F8F8;
}
.block-cart{
  background: #fff;
  color:#333;
  padding:10px;
  margin-bottom:20px;
  border-radius: 2px;
  border: 1px solid #333;
  box-shadow: 1px 1px 1px #333;
}
.panel-list a{
  display: block;
  color: #666;
}
.panel-list .panel-heading h3{
  padding: 4px;
  font-size: 18px;
}
.panel-heading-green{
  background: #333 !important;
  color: #fff !important;
}
.panel-heading-dark{
  background: #333 !important;
  color: #fff !important;
}
.game{
  display: relative;
}
.game-title{
  text-align: center;
  padding: 5px;
  background: #333;
  color:#fff;
}
.game img{
  width: 100%;
}
.details img{
  width: 100%;
  padding-left: 10px;
}
.game-price{
  position: absolute;
  bottom: 130px;
  right: 15px;
  background: #00a1a7;
  color: #fff;
  padding: 5px;
  font-size: 22px;
}
.game-add{
  margin: 5px auto 20px auto;
  width: 100%;
  text-align: center;
}
.details-price{
  font-size:25px;
  margin-bottom: 20px;
}
.details img{
  width: 100%;
}
.footer{
  background: #333;
  color:#fff;
  height: 50px;
  text-align: center;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #333;
  box-shadow: 1px 1px 1px #333;
}
.qty{
  width:40px;
  color:#666 !important;
  text-align:center;
  margin-bottom: 5px;
}
